*{
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    height : 95vh;
    
    
}

.score-box{
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 80px;
    text-align: center;
}